/* NAV BAR */
.navbar {
      height: 80px;
      background-color:black ;
    }
.navbar-brand{
  margin: 25px 55px;

}
.brand-img:hover{
  width:22%;
  height:16%;
}
.nav-item{
  padding: 15px;
  margin: auto 15px;
  font-family: monospace;
}
.nav-link:hover,.active{
  color: #FEF1A3;
}

/* BODY */
body{
  background-color: black;
  color: white;
}
